:root {
  --bg-color: #c2d3dd;
  --text-color: #08526a;
}

#game {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
}

#start-game {
  width: 20%;
  text-align: center;
}

#random-number {
  margin: 5px;
}
